* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Hanken Grotesk', sans-serif;
  width: 100%;
  background-color: hsl(221, 100%, 96%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.container {
  /* height: 500px;   */
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  max-width: 700px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 20px hsla(224, 30%, 27%, 0.2);
}

.result {
  background-color: hsl(241, 81%, 54%);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  border-radius: 22px;
}

.result h2,
.result h4 {
  color: gray;
}

.h3 {
  display: flex;
  justify-content: center;
}

.circle {
  width: 40vw;
  max-width: 200px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: hsl(224, 72%, 31%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  flex-direction: column;
  /* box */
  box-shadow: 8px 2px 76px -32px rgba(0, 0, 0, 0.82) inset;
  -webkit-box-shadow: 8px 2px 76px -32px rgba(0, 0, 0, 0.82) inset;
  -moz-box-shadow: 8px 2px 76px -32px rgba(0, 0, 0, 0.82) inset;
}

.circle h1 {
  font-size: 3rem;
}

.result p {
  color: rgba(255, 255, 255, 0.651);
  text-align: center;
  margin-top: 1rem;
  padding: 1em;
}

.summary h2 {
  color: black;
}
.summary{
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  padding: 2rem;
}
.light-gray{
  color: rgb(133, 132, 132);
}
.stat-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  /* padding: 1rem; */
}
.stat-container li{
 margin-top: 1.3rem;
}
.reaction{
  color: hsl(0, 100%, 67%);
  background-color: hsl(0, 80%, 96%);
}
.memory{
  color: hsl(39, 100%, 56%);
  background-color: hsl(39, 100%, 86%);
}
.verbal{
  color: hsl(166, 100%, 37%);
  background-color: hsl(166, 100%, 87%);
}
.visual{
  color: hsl(234, 85%, 45%);
  background-color: hsl(234, 85%, 95%);
}
.summary-list {
  list-style: none;
  /* padding: 0;
  margin: 0; */
  width: 100%;
}
.summary-list li{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.1rem;
  border-radius: 17px;
}
.black{
  color: black;
}
.continue{
  color: white;
  background-color: hsl(224, 30%, 27%);
  font-size: 1.5rem;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 30px;
  font-weight: bolder;
}
.white{
  color: white;
}
@media only screen and (max-width:600px){
  .container{
    grid-template-columns: 1fr;
    width: 100%;
  }
  body,html{
    height:auto;
}
